* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
}

body {
  position: relative;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100vw;
  color: #fff;
  padding: 1rem 5rem;
  background-color: rgb(46, 45, 45);
}

.brand {
  font-family: "Lobster", cursive;
  font-size: 3rem;
  cursor: pointer;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-size: 500;
  font-size: 1.4rem;
  width: 40%;
  cursor: pointer;
  color: #fff;
}

.links span {
  color: #fff;
  transition: color 0.15s ease;
}

.links span:hover {
  color: lightblue;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 82vh;
  width: 100vw;
}

.box-style {
  height: 95%;
  width: 20%;
  transform: translateY(0px);
  transition: all 0.3s ease;
  border: 1.18px solid rgba(211, 211, 211, 0.5);
  border-radius: 0.5rem;
}

.history-board {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 6rem 1rem;
}

.col-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
  color: black;
}

.current-number {
  font-size: 3rem;
}

.current-number .value {
  font-size: 5rem;
}

.previous-number {
  font-size: 2.5rem;
}

.previous-number .value {
  font-size: 4rem;
}

.last-2nd-number {
  font-size: 2.2rem;
}

.last-2nd-number .value {
  font-size: 3.5rem;
}

.col-flex .title {
  font-weight: 400;
  margin-bottom: 1rem;
}

.col-flex .value {
  font-family: "Squada One", cursive;
}

.board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.6rem;
  background-color: lightblue;
  height: 95%;
  width: 55%;
  padding: 1%;
}

.number-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Squada One", cursive;
  font-size: 2.6rem;
  height: 10%;
  width: 10%;
  border-radius: 1rem;
  pointer-events: none;
  transition: all 0.2s ease;
}

.number-highlight {
  background-color: rgba(41, 230, 35, 0.9);
  text-decoration: underline;
  text-decoration-color: black;
  font-size: 3rem;
  transition: all 0.2s ease;
}

.number-read {
  color: red;
  text-decoration: underline;
  text-decoration-color: red;
}

.winnings-board {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 2rem 1rem 2rem;
}

.winnings-board h1 {
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
}

.game-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2rem;
}

.input-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  font-size: 1.5rem;
  font-weight: 400;
}

.input {
  font-family: "Raleway";
  border: 2px solid rgba(232, 124, 124, 0.35);
  padding: 0.5rem 1rem;
  width: 103px;
  border-radius: 3px;
  outline-width: 2px;
}

.input-big {
  width: 140px;
}

.category-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem;
}

.categories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0 1rem 0;
}

.categories-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.categories-details span {
  font-size: 1.2rem;
  color: red;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.btn {
  border: 2px solid rgb(46, 45, 45);
  border-radius: 4px;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 300;
  height: 42px;
  width: 115px;
  background-color: rgb(46, 45, 45);
  cursor: pointer;
  transition: all 0.2s ease;
  margin-top: 2rem;
  align-self: center;
  backface-visibility: hidden;
  outline: none;
  user-select: none;
}

.btn:hover {
  background-color: #fff;
  color: rgb(46, 45, 45);
  transform: translateY(-2px);
  border: 2px solid rgb(46, 45, 45);
}

.btn:active {
  transform: translateY(0px);
}

.alert {
  font-size: 1.6rem;
  font-weight: 400;
  padding: 2.2rem 5.5rem;
  position: absolute;
  left: 50%;
  color: #fff;
  border-radius: 0 0 0.6rem 0.6rem;
  transform: translateX(-50%);
  z-index: 20;
}

.error-alert {
  background-color: rgb(226, 21, 48);
}

.success-alert {
  background-color: rgb(23, 226, 50);
}

.info-alert {
  background-color: rgb(231, 158, 22);
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  width: 100vw;
  font-size: 1.1rem;
  padding: 1rem 3rem;
  color: rgb(150, 150, 150);
  background-color: rgba(223, 223, 223, 0.3);
}

/* THE WHOLE MODAL BACKGROUND */
.winners-board-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgb(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.game-board-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  background-color: rgb(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 50px 0;
  z-index: 10;
  overflow-y: auto;
}

.game-board-container .winners-board {
  margin-bottom: 4rem;
}

.game-board-container .winners-board:last-child {
  margin-bottom: 0 !important;
}

.game-board-container::-webkit-scrollbar {
  width: 6.5px;
  background-color: transparent;
}

.game-board-container::-webkit-scrollbar-thumb {
  background: linear-gradient(
    45deg,
    rgb(28 114 222 / 0.98),
    rgb(19 206 215 / 0.98)
  );
  border-radius: 0.1rem;
}

.game-board-container::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 0.1rem;
}

.visibility {
  visibility: hidden;
}

/* BLUE GRADIENT CONTAINER */
.winners-board {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  padding: 3rem 2rem;
  background-color: #fff;
  background: linear-gradient(
    45deg,
    rgb(28 114 222 / 0.98),
    rgb(19 206 215 / 0.98)
  );
  border-radius: 0.5rem;
  box-shadow: 0 0 20px rgba(158, 158, 158, 0.6), 0 0 30px rgba(97, 97, 97, 0.3),
    0 0 50px rgba(66, 66, 66, 0.2);
}

/* CONGRATULATIONS TITLE */
.board-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  width: 95%;
  text-align: center;
  padding-bottom: 1.2rem;
  border-bottom: 1px solid #fff;
  user-select: none;
}

.main-title {
  background-image: linear-gradient(
    to right,
    rgb(162 31 216 / 98%),
    rgb(19 97 215 / 98%)
  );
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.sub-title {
  color: black;
  position: absolute;
  bottom: 3px;
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  color: #fff;
  align-self: flex-end;
}

.sub-title-1 {
  left: 0;
}

.sub-title-2 {
  right: 0;
}

/* CONTAINER FOR ALL THE WINNERS LIST */
.winners-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 1rem 0;
}

/* DIV FOR EACH WINNER, CONTAINS WINNER NAME AND TITLE */
.winner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1.2rem 0.5rem 1.2rem;
  width: 90%;
  font-family: "Bebas Neue", cursive;
  border-bottom: 1px solid #bbb;
}

/* SPAN FOR TITLE WON BY THE PLAYER */
.winner-title {
  font-size: 2rem;
  text-align: left;
  width: 35%;
  color: white;
}

/* SPAN FOR ACTUAL PLAYER WHO WON THE TITLE */
.winner-name {
  font-size: 2rem;
  width: 45%;
  letter-spacing: 1px;
  color: black;
}

.winner-prize {
  font-size: 1.8rem;
  text-align: right;
  width: 15%;
  color: #1121e5;
}
